.Contact{
    margin-left: 400px;
    margin-top: 100px;
}
.contact-form{
    height: 400px;
    width: 200px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    gap: 10px;
    margin-top: 20px;
}
.input-filed-text{
    
    border: 1px solid gray;
}
.input-filed-text-msg{
    border: 1px solid gray;
    height: 50px;
    width: 200px;
}
.contact-submit{
    border: 1px solid gray;
    margin-top: 50px;
    height: 30px;
    width: 200px;
    color: #2eebaa;
    &:hover{
        color: white;
    }
}
.contact-form
   {
       margin-top: 30px;
       margin-left: 100px ;
   }