.Contact{
    margin-left: 400px;
    margin-top: 100px;
}
.contactForm{
    height: 400px;
    width: 200px;
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    gap: 10px;
    margin-top: 20px;
}
.inputFiledText{
    
    border: 1px solid gray;
}
.inputFiledTextMessage{
    border: 1px solid gray;
    height: 50px;
    width: 200px;
}
.submitContact{
    border: 1px solid gray;
    margin-top: 50px;
    height: 30px;
    width: 200px;
    color: #2eebaa;
    &:hover{
        color: white;
    }
}