.Education{
    margin-top: 100px;
    margin-left: 400px;
}

.heading-color-1{
    color: #2eebaa;
    font-size: 20px;
}
.heading-color-0{
    
    margin-top: 10px;
    font-size: 40px;
}

.heading-color-2{
    color: #2eebaa;
}
.education-detail{
    margin-left: 20px;
    margin-top: 10px;
}
.education-detail h3{
    margin-bottom: 10px;
    color: #2eebaa;
}
.education-data{
    margin-top: 5px;
}
.education-date-short{
    margin-top: 5px;
    color: gray;
    font-size: 13px;
}
