.HomeScreen1
{
    display: flex;
    overflow-y: auto;
}
.home-left
{
    width: 25%;
    color: white;
    position: fixed;
    border: 2px solid white;
    flex: 0.3;
    height: 99vh;
}
.home-img
{
    margin-top: 100px;
    height: 300px;
    width: 300px;
    border-radius: 300px;
}

.home-social-Icons
{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;   
}
.social-icon
{
    margin-left: 20px;
    justify-content: space-around;
}
.home-btn-Hire
{
    margin-top: 20px;
    margin-left: 50px;
    padding: 16px;
    width: 60%;
    border-radius: 10px;
    border: 1px solid white;
&:hover
    {
        color: #2eebaa;
    }
}
.home-right
{
    margin-left: 300px;
    width: 100%;
    flex: 0.9;
}
.home-intro
{
    margin: 100px 0 10px 70px;
}
.home-heading
{
    color: #2eebaa;
    font-size: 20px;
}
.home-data
{
    margin-top: 30px;
    font-size: 40px;
}
.home-hello
{
    color: #2eebaa;
}
.home-cursor-color
{
    color: #2eebaa;   
}
.home-detail
{
    width: 800px;
    margin-top: 20px;
    font-size: 18px;
}
.home-info
{
    margin: 70px 0 20px 100px ;
    justify-content: space-evenly;
}
.fa-solid
{
    color: #2eebaa;
    margin-left: 20px;
    margin-right: 10px;
}



/* ================================== */

@media screen and (max-width:600px) {
    
    .home-left{
        flex: 1;
        position: static;
        margin-left: 200px;
        margin-top: -80px;
        border: none;
    }
    .home-img
    {
        margin-left: 0px !important;
    }
    .home-right{
        margin-top: 450px;
        justify-content: start;
        margin-left: -950px;
    }
    .home-social-Icons{
        margin: 20px 0 0 100px;
    }
    .home-info{
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 10px;
        margin-left: -100px;
    }
    .home-img{
        margin-left: -120px;
    }
    .home-btn-Hire{
        width: 100px;
       margin-left: 100px;
    }
    .education-intro{
        margin-left: -380px;
    }
    .skill-data{
        margin-left: -380px;
    }
    
    .education-all{
        margin-left: -380px;
    }
    .Contact{
        margin-left: 20px !important;
    }
    .contact-form
    {
        margin-top: 30px;
        margin-left: 180px !important ;
    }
    .skill-card
    {
        margin-left: 150px !important;
    }
   .project-card
   {
    margin-left: 100px;
   }
    .home-detail
    {
    width: auto;   
    }

}







@media screen and (max-width:480px) {
    
    .home-left{
        flex: 1;
        position: static;
        margin-left: 200px;
        margin-top: -80px;
        border: none;
    }
    .home-img
    {
        margin-left: -100px !important;
    }
    .home-right{
        margin-top: 450px;
        justify-content: start;
        margin-left: -800px;
    }
    .home-social-Icons{
        margin: 20px 0 0 0px;
    }
    .home-info{
        display: grid;
        grid-template-rows: auto auto auto;
        gap: 10px;
        margin-left: -100px;
    }
   
    .home-btn-Hire{
        width: 100px;
       margin-left: 0px;
    }
    .education-intro{
        margin-left: -380px;
    }
    .skill-data{
        margin-left: -380px;
    }
    
    .education-all{
        margin-left: -380px;
    }
    .Contact{
        margin-left: 20px !important;
    }
    .skill-card
    {
        margin-left: 100px !important;
    }
   .project-card
   {
    margin-left: 50px;
   }
   .contact-form
   {
       margin-top: 30px;
       margin-left: 100px ;
   }
.home-detail{
   width: auto;   
}

}
















