.Project{
    margin-left: 400px;
    margin-top: 100px;
}
.clone{
    margin: 20px;
    font-size: 25px;
    color: #2eebaa;
}
.projectimg
{
    margin-top: 20px;
    width: 80%;
    height: 70vh;

}