.project-name
{
    margin-top: 30px;
    margin-left: 270px;
}
.visit-project
{
    margin-top: 20px;
    margin-left: 270px;
}
.project-data
{
    margin-top: 20px;
    margin-left: 280px;
    margin-right: 280px;
}
.project-img-heading{
        font-weight: 700;
}
.project-img-detail
{
}